$body-color: lightgray;
$font-family: "Times New Roman", Times, serif;
$salmon-color: salmon;
$font-color: black;

body {
  background-color: $body-color;
  background-position: top left;
  text-align: center;
}

h1, h2 {
  background-color: $body-color;
  font-style: italic;
  font-size: 40px;
  font-family: $font-family;
}

div {
  position: center;
}

img {
  border-style: solid;
  border-width: 10px;
  border-color: $font-color;

  &:hover {
    transform: scale(1.1);
  }
}
