body {
  background-color: lightgray;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
}

a:link{
  text-decoration: none;
}

nav{
  overflow: hidden;
  background-color: inherit;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.line{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 45%;
}

.btn {
  border: 3px;
  background-color:lightgray;
  color: black;
  width: 130px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-style: italic;
  cursor: pointer;
  display: inline-block;
}

.download{
    border:none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.download:hover{
  color: salmon;
}

h2{
  color: salmon;
  font-style: italic;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;

}

.btn:hover{
  color: salmon;
}

.myprojects{
  color: salmon;
}

.sub{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #EFEFEF;
  color: black;
}

.back{
  border-radius: 50%;
}

.college{
  color: salmon;
}

.sub:hover{
  color: salmon;
}

span.technology{
  font-style: italic;
}

span.description{
  font-style: italic;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    color: salmon;
    text-align: center;
}
