body {
  background-repeat: repeat;
  background-position: top left;
  text-align: center;
  background-color: lightgray;
}
h1{
  background-color: lightgray;
  font-style: normal;
  font-size: 5em;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  left: 39%;
  bottom: 43.5%;
}

a:link{
  text-decoration: none;
}

nav{
  overflow: hidden;
  background-color: lightgray;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.line{
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 45%;
}

.btn {
  border: 3px;
  background-color:lightgray;
  color: black;
  width: 130px;
  height: 50px;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover{
  color: salmon;
}

.myresume{
  color:salmon;
}

.download{
  border: none;
  border-style: groove;
  padding: 12px 30px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  left: 45%;
  bottom:10%;
}

.download:hover {
  color: salmon;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: salmon;
    text-align: center;
}
